<input id="title" name="title" placeholder="Title" [(ngModel)]="course.title" #firstName="ngModel">
<textarea id="description" name="description" placeholder="Description" [(ngModel)]="course.description"></textarea>
<app-course-creation-date (changeDateHandler)="onChangeDateHandler($event)" [date]="course.creation"></app-course-creation-date>
<app-course-duration (changeDurationHandler)="onChangeDurationHandler($event)" [duration]="course.duration"></app-course-duration>
<button (click)="save()">save</button>
<button (click)="cancel()">cancel</button>