    .container{
    display: flex;
    padding: 1px;
    justify-content: flex-end;
    }
    
    .course-parameters{
    margin-right: auto;
    }
    
    div{
    padding-right: 0.5%;
    padding-left: 1%;
    }

    button{
        width: 50px;
        }
    
    .top-rated{
        background-color: blueviolet;
    }
 
    img{
        height: 3%;
        width: 3%;
    }