<form>
<input [formControl]="searchControl" class='search' name="searchControl"  (keyup)="search(searchControl)"  placeholder="Type to search...">
</form>
<div class='container' *ngIf="courseList.length; else coursesListIsEmpty">
    <li *ngFor="let course of courseList | sort">
        <app-course-item [courseitem]="course" (deleteCourseHandler)="deleteCourse($event)" (editCourseHandler)="editCourse($event)">
        </app-course-item>
    </li>
    <button (click)="loadMore()">{{loadMoreMessage}}</button>
</div>

<ng-template #coursesListIsEmpty>
    <div class='nodata'>
        {{noDataMessage}}
    </div>
</ng-template>